.shopping-cart {
	display: flex;
}
.header-shopping {
	display: flex;
	justify-content: space-between;
}

.shopping-titles {
	color: white;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: bolder;
}

.shopping-cart-table {
	background-color: aliceblue;
	text-align: center;
}

.hidden {
	display: none;
}

.shopping-cart-elem.hidden {
	display: none;
}
