.product-card {
	margin: 18px;
	background-color: white;
	height: 350px;
	width: 252px;
	border: 2px solid gray;
	border-radius: 7px;
}

img {
	border-radius: 5px;
}

.product-card:hover {
	transform: scale(1.02);
	transition: 0.2s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-and-add {
	display: flex;
	justify-content: space-between;
}

.add-and-remove {
	display: flex;
}

.add-item:hover,
.remove-item:hover {
	cursor: pointer;
}

.hidden {
	display: none;
}

.remove-item {
	transition: 0.5s;
}

.amount {
	padding: 2px;
}
