.about-card {
	display: flex;
	width: 70vw;
	height: 20vw;
	border: 2px solid lightgrey;
	justify-content: space-around;
	align-items: center;
}

.about-text {
	width: 50%;
}

.text-about-body {
	margin: 5%;
	color: gray;
	font-size: large;
}

.about-img {
	background-color: #2c3f47;
	width: 50%;
	height: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
}
